@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Ubuntu:wght@300&display=swap');

html,
body {
    height: 150%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    color: #2388FF;
    background-color: white;
}

.button {
    font-size: 20px;
    width: 66px;
    padding: 20px;
    margin: 0 3px;
    border-style: none;
    border-radius: 100%;
    cursor: pointer;
    background-color: #D8DDF0;
    font-family: 'Roboto', sans-serif;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}

.row {
    margin: 8px 0;
}

.row input {
    width: 300px;
    font-size: 20px;
    margin: 0;
    padding: 10px 0px;
    background-color: #2388FF;
    border-style: none;
    border-radius: 40px;
    font-family: 'Roboto', sans-serif;
}